extends layout.pug
block title
  title 404 Page Not Found
block content
  h1 Page Not Found
  p Sorry! We couldn't find the page you were looking for.
  br
  h1 Server Error
  p Sorry! There was an unexpected error on the server.
  p
    a(class="button" href="/") Home